
.LandingPageBody {
  overflow-x: hidden;
}

/*--------LANDING PAGE HERO SECTION-----------*/
/*---------------------------------------------------------------------*/
.home_banner_area {
    width: 100%;
    position: relative;
    /* z-index: 1; */
    min-height: 770px;
    margin-top: 100px; 
}

.banner_inner {
    display: flex;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 770px;
  }
  
  .pane {
    flex: 1;
    overflow: hidden; /* Hides the images that are out of view */
    position: relative;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    animation-duration: 15s; /* 3 images * 3s each */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* Animation for left pane images */
  .left-pane .img-0 { animation-name: rotateLeft0; }
  .left-pane .img-1 { animation-name: rotateLeft1; }
  .left-pane .img-2 { animation-name: rotateLeft2; }
  
  /* Animation for right pane images */
  .right-pane .img-0 { animation-name: rotateRight0; }
  .right-pane .img-1 { animation-name: rotateRight1; }
  .right-pane .img-2 { animation-name: rotateRight2; }
  
  /* Keyframes for left pane */
  @keyframes rotateLeft0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft1 {
    0%, 33% { transform: translateY(100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft2 {
    0%, 66% { transform: translateY(100%); }
    67%, 100% { transform: translateY(0); }
  }
  
  /* Keyframes for right pane */
  @keyframes rotateRight0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight1 {
    0%, 33% { transform: translateY(-100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight2 {
    0%, 66% { transform: translateY(-100%); }
    67%, 100% { transform: translateY(0); }
  }


.banner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
    text-align: center; 
  }

.banner_content span {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
  }
.banner_content span:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background: #fff;
  } 

 .banner_content h3 {
    font-size: 60px;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
  }


  
.headerContactUsButton {
    position: absolute;
    margin-top: 5%; 
    left: 50%;
    transform: translateX(-50%);
    /* transform: translate(-50%, -50%); */
    /* z-index: 10; */
    /* width: 225px; 
    height: 150px;  */
  }
  
#mainPageContactUsButton {
    padding: 10px 20px;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #555;
    }
  }
  @media (max-width:1199px){
	.home_banner_area .banner_inner {
		min-height: 700px;
	}
}

@media (max-width:767px){
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
  .home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 45px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
}

@media (max-width:480px){
.home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.home_banner_area {
		min-height: 400px;
	}
	.home_banner_area .banner_inner {
		min-height: 400px;
	}
}

@media (max-width: 767px) {
  .home_banner_area .banner_inner .banner_content span::after {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 33px;
  }

  .home_banner_area .banner_inner .banner_content h3 br {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content .main_btn {
    margin-top: 14px;
  }

  .home_banner_area .banner_inner .banner_content span {
    font-size: 15px;
    margin-bottom: 6px;
  }

  .footer-area {
    padding-top: 70px;
  }

  .footer-bottom {
    margin-top: 35px;
  }
}
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*   
  @import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css");

  /* Google fonts */
  /* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
/* 
  --body-font: "Bai Jamjuree" , sans-serif;  */
 
/* Card Slider CSS COLORS */
/*----------------------------------------------------------*/
/* :root { 
  --first-color: hsl(38, 92%, 58%); 
  --first-color-light: hsl(38, 100%, 78%); 
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
} */

/* --body-font: "Bai Jamjuree", sans-serif; 
--h2-font-size: 20px; 
--normal-font-size: 16px;  */


/*--------Card Slider CSS SECTION-----------*/
/*----------------------------------------------------------------------------------------------*/

.landing_page_cs_animation_section {
  position: relative; 
  /* border: solid orange 10px;  */
  background-color: #555;
  margin-bottom: 15%; 
  border: solid yellow 4px;
  height: 1500px; 


}



/*--START--CSS FOR decorative line above "WHAT WE PROVIDE" title*/
/*-----------------------------------------*/
.decorative-lines-container {
  position: relative; 
  display: flex; 
  justify-content: center;
  margin-top: 4%;
}


.decorativelines {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 0%;
}

/*thinner decorative line*/
.decorativelinebase {
  position: absolute; 
  width: 350px; 
  height: 2px; 
  background: #E82C2C;
  z-index: 0; 
}

/*thicker decorative line*/
.decorativelineoverlayed {
  position: absolute; 
  width: 150px;
  height: 8px; 
  background: red;
  z-index: 1; /* > stack order -> top line*/
}
/*-----------------------------------------*/
/*--END--CSS FOR decorative line above "WHAT WE PROVIDE" title*/



/*--START--CSS for the 'Title' and horizontal lines of the card slider animation section */
/*-----------------------------------------*/
/* lp_cs_... = landing page card slider */

.lp-cs-section-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5%;
}

.lp_cs_section_title {
  position: relative;
  display: inline-block;
  text-align: center;
}

.lp_cs_section_title h2 {
  position: relative;
  padding: 0 20px;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black; 
}

.lp_cs_section_title h2::before,
.lp_cs_section_title h2::after {
  content: '';
  position: absolute;
  top: 50%;
  width: calc(100vw - 40px); 
  height: 3px;
  background-color: black;
}

.lp_cs_section_title h2::before {
  left: 0;
  transform: translateX(-100%);
}

.lp_cs_section_title h2::after {
  right: 0;
  transform: translateX(100%);
}
/*-----------------------------------------*/
/*--END--CSS for the 'Title' and horizontal lines of the card slider animation section */



/*--START--CSS for the animation of the CARD SLIDER*/
.lp-cards-main-container {
  display: flex; 
  position: relative; 
  margin-bottom: 4%; 
  margin-top: 4%;
}

.lp-cs-container{ 
  display: flex; 
  position: absolute; 
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
  
  /* border: solid black 1px; */
  max-width: 100%; 
}



.card-container { 
  /* margin-inline: 28px;  */
  border-radius: 20px; 
  /* overflow: hidden;  */
  /* border: solid black 1px; */
  display: flex;
  position: absolute; 
  column-gap: 10px; 
}


.card-article { 
  width: 400px; 
  border-radius: 20px; 
  overflow: hidden; 
  flex: 0 0 auto; 
  /* border: yellow 1px solid;  */
  background-color: gray;
}

.card_image { 
  position: relative; 
  /* background-color: hsl(38, 100%, 78%);  */
  /* padding-block: 5px 5px;  */
  padding-top: 28px; 
  margin-bottom: -12px; 

}


.card_data { 
  background-color: darkblue; 
  Padding: 24px 32px; 
  border-radius: 16px; 
  text-align: center; 
  position: relative; 
  z-index: 10;
}

.card_image { 
width: 180px; 
margin: 0 auto; 
position: relative; 
z-index: 5; 
}

.card_name { 
  font-size: 20px;  
  color:  hsl(195, 75%, 52%); 
  margin-bottom: 12px; 
}

.card_description { 
  font-weight: 500; 
  margin-bottom: 28px;

}

.card_button { 
  display: inline-block; 
  background-color: hsl(38, 92%, 58%); 
  padding: 12px 24px; 
  border-radius: 4px; 
  color: hsl(212, 40%, 12%);
  font-weight: 600;
}

.card_image img { 
  display: block; 
  max-width: 100%;
  height: auto; 
  height: 250px; 
  width: 250px; 
}


.pagination-bullets-container{
  display: flex; 
  position: relative;
  justify-content: center;
  margin-top: 2%; 

}



.swiper-pagination {
  position: absolute;
}


.navigationArrows-container {
  display: flex; 
  justify-content: center;
  position: relative;

}

.navigationArrows{
  position: absolute; 
  display: flex;
  margin-top: 2%; 
  margin-bottom: 2%; 
}


.swiper-button-prev i, .swiper-button-next i {
color: red; 
}


.cs-services-button-container{
  display: flex; 
  position: relative;
  margin-top: 8%; 
  justify-content: center;
}


.cs_services_button { 
  position: absolute;
  margin-bottom: 2%; 
}

.cs_services_button button { 
  color: red; 
  border-radius: 8px; 
  width: 250px;
  height: 65px; 
  font-size: 30px; 
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif; 
}
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/


/*--------FIXED CARDS SECTION-----------*/
/*----------------------------------------------------------------------------------------------*/


.fixed-cards-section-main-container{
  position: relative; 
  /* border: solid orange 10px;  */
  background-color: #555;
  margin-bottom: 15%; 
  border: solid yellow 4px;
  height: auto; 
}

.fixed-cards-section-title-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 1.5%;
}

.fixed-cards-section-title h2 {
  color: black; 
}

.fixed-cards-container{
  position: relative;
  display: flex;
  margin-bottom: 4%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  /* justify-content: space-between;  */
  margin-left: 70px; 
  margin-right: 70px; 
  margin-top: 50px; 
  gap: 8px; 
}

.card-1, 
.card-2, 
.card-3, 
.card-4 {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  min-height: 100px; 
  border: 1.5px solid #9A8A78;
  background-color: #262626;
  color: black; 
  font-family: 'Raleway', sans-serif; 
  flex: 1;
  width: 450px; 
  height: 350px; 

}

.card-1 h2, 
.card-2 h2, 
.card-3 h2, 
.card-4 h2 {
  margin-top: 10px; 
  text-align: center; 
  color: white; 
}

.card-1 img, 
.card-2 img, 
.card-3 img, 
.card-4 img {
  width: 200px; 
  height: 200px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) { 

  .card-1 h2, 
  .card-2 h2, 
  .card-3 h2, 
  .card-4 h2 {
      font-size: 20%; 
      margin-top: 5%; 
      text-align: center; 
  }
  
  /* Container sizing */
  .card-1, 
  .card-2, 
  .card-3, 
  .card-4  {
      width: 20%; 
      height: 35%; 
    
  }
  
      /* Images  */
      .card-1 img, 
      .card-2 img, 
      .card-3 img, 
      .card-4 img {
      width: 80%; 
      height: 75%;
      margin-bottom: 5%;
  }
  }
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/
/*---------------------------------------------------------------------*/



/*--------RECENT PROJECTS SECTION-----------*/
/*----------------------------------------------------------------------------------------------*/
.lp-recent-projects-section-main-container {
  position: relative; 
  /* border: solid orange 10px;  */
  background-color: #555;
  margin-bottom: 15%; 
  border: solid yellow 4px;
  height: 2000px; 
}

/*--START--CSS FOR decorative line above "Recent Projects" title*/
/*-----------------------------------------*/
.lp-projects-decorative-lines-container {
  position: relative; 
  display: flex; 
  justify-content: center;
  margin-top: 4%;
}

.lp-projects-decorativelines {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 0%;
}

/*thinner decorative line*/
.lp-projects-decorativelinebase {
  position: absolute; 
  width: 350px; 
  height: 2px; 
  background: #E82C2C;
  z-index: 0; 
}

/*thicker decorative line*/
.lp-projects-decorativelineoverlayed {
  position: absolute; 
  width: 150px;
  height: 8px; 
  background: red;
  z-index: 1; /* > stack order -> top line*/
}
/*-----------------------------------------*/
/*--END--CSS FOR decorative line above "Recent Projects" title*/


/*--START--CSS FOR "Recent Projects" title*/
/*-----------------------------------------*/
.recent-projects-section-title-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 1.5%;
}

.recent-projects-section-title h2 {
  color: black; 
}
/*-----------------------------------------*/
/*--END--CSS FOR "Recent Projects" title*/