
.home_banner_area {
    width: 100%;
    position: relative;
    /* z-index: 1; */
    min-height: 770px;
}

.banner_inner {
    display: flex;
    /* height: 100vh; */
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 770px;
  }
  
  .pane {
    flex: 1;
    overflow: hidden; /* Hides the images that are out of view */
    position: relative;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    animation-duration: 15s; /* 3 images * 3s each */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* Animation for left pane images */
  .left-pane .img-0 { animation-name: rotateLeft0; }
  .left-pane .img-1 { animation-name: rotateLeft1; }
  .left-pane .img-2 { animation-name: rotateLeft2; }
  
  /* Animation for right pane images */
  .right-pane .img-0 { animation-name: rotateRight0; }
  .right-pane .img-1 { animation-name: rotateRight1; }
  .right-pane .img-2 { animation-name: rotateRight2; }
  
  /* Keyframes for left pane */
  @keyframes rotateLeft0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft1 {
    0%, 33% { transform: translateY(100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft2 {
    0%, 66% { transform: translateY(100%); }
    67%, 100% { transform: translateY(0); }
  }
  
  /* Keyframes for right pane */
  @keyframes rotateRight0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight1 {
    0%, 33% { transform: translateY(-100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight2 {
    0%, 66% { transform: translateY(-100%); }
    67%, 100% { transform: translateY(0); }
  }


.banner_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 10; */
    text-align: center; 
  }

.banner_content span {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: inline-block;
    position: relative;
  }
.banner_content span:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -16px;
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background: #fff;
  } 

 .banner_content h3 {
    font-size: 60px;
    font-family: "Heebo", sans-serif;
    font-weight: 600;
  }


  
.headerContactUsButton {
    position: absolute;
    margin-top: 5%; 
    left: 50%;
    transform: translateX(-50%);
    /* transform: translate(-50%, -50%); */
    /* z-index: 10; */
    /* width: 225px; 
    height: 150px;  */
  }
  
#mainPageContactUsButton {
    padding: 10px 20px;
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #555;
    }
  }






  @media (max-width:1199px){
	.home_banner_area .banner_inner {
		min-height: 700px;
	}
}

@media (max-width:767px){
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
  .home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 45px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
}


@media (max-width:480px){
.home_banner_area .banner_inner .banner_content {
		padding: 30px 15px;
		margin-top: 0px;
	}
	.home_banner_area {
		min-height: 400px;
	}
	.home_banner_area .banner_inner {
		min-height: 400px;
	}
}



@media (max-width: 767px) {
  .home_banner_area .banner_inner .banner_content span::after {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 33px;
  }

  .home_banner_area .banner_inner .banner_content h3 br {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content .main_btn {
    margin-top: 14px;
  }

  .home_banner_area .banner_inner .banner_content span {
    font-size: 15px;
    margin-bottom: 6px;
  }

  .footer-area {
    padding-top: 70px;
  }

  .footer-bottom {
    margin-top: 35px;
  }
}



















/* mp container section*/

#mpContainers {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-left: 70px; 
  margin-right: 70px; 
  margin-top: 50px; 
  gap: 0px; 
}



#mpContainerOne,
#mpContainerTwo,
#mpContainerThree,
#mpContainerFour {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 100px; 
  border: 1px solid rgb(154, 138, 120);
  color: black; 
  font-family: 'Raleway', sans-serif; 
  flex: 1;
}

#mpContainerOne h2,
#mpContainerTwo h2, 
#mpContainerThree h2,
#mpContainerFour h2{
  margin-top: 10px; 
  text-align: center; 
}


/* Container sizing */
#mpContainerOne {
  width: 450px; 
  height: 350px; 

}

#mpContainerTwo {
  width: 450px; 
  height: 350px; 

}

#mpContainerThree {
  width: 450px; 
  height: 350px; 

}

#mpContainerFour {
  width: 450px; 
  height: 350px; 
}



/* Images  */
#mpContainerOne img{
  width: 200px; 
  height: 200px;
  margin-bottom: 10px;

}

#mpContainerTwo img {
  width: 200px; 
  height: 200px;
  margin-bottom: 10px;

}

#mpContainerThree img {
  width: 200px; 
  height: 200px;  
  margin-bottom: 10px;


}

#mpContainerFour img {
  width: 200px; 
  height: 200px;
  margin-bottom: 10px;
}



@media screen and (max-width: 600px) { 

  #mpContainerOne h2,
  #mpContainerTwo h2, 
  #mpContainerThree h2,
  #mpContainerFour h2{
      font-size: 20%; 
      margin-top: 5%; 
      text-align: center; 
  }
  
  /* Container sizing */
  #mpContainerOne,
  #mpContainerTwo,
  #mpContainerThree, 
  #mpContainerFour {
      width: 20%; 
      height: 35%; 
    
  }
  
      /* Images  */
  #mpContainerOne img,
  #mpContainerTwo img,
  #mpContainerThree img, 
  #mpContainerFour img {
      width: 80%; 
      height: 75%;
      margin-bottom: 5%;
  }
  }
  
/*   
  @import url("https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css");

  /* Google fonts */
  /* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"); */
/* 
  --body-font: "Bai Jamjuree" , sans-serif;  */
 
/* Card Slider CSS COLORS */
/*----------------------------------------------------------*/
/* :root { 
  --first-color: hsl(38, 92%, 58%); 
  --first-color-light: hsl(38, 100%, 78%); 
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);
} */

/* --body-font: "Bai Jamjuree", sans-serif; 
--h2-font-size: 20px; 
--normal-font-size: 16px;  */


/* Card Slider CSS */
/*----------------------------------------------------------*/

.lp_cs_container{ 
  box-sizing: border-box;
  padding: 0; 
  margin: 0; 
  display: flex; 
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  /* margin-top: 50px;  */; 

}

.card_container { 
padding-block: 80px;  
}

.card_content { 
  margin-inline: 28px; 
  border-radius: 20px; 
  /* overflow: hidden;  */
  background-color: gray; 

}

.card_article { 
  width: 300px; 
  
  border-radius: 20px; 
  overflow: hidden; 
  flex: 0 0 auto; /* Prevents the card from shrinking */
}

.card_image { 
  position: relative; 
  /* background-color: hsl(38, 100%, 78%);  */
  /* padding-block: 5px 5px;  */
  padding-top: 28px; 
  margin-bottom: -12px; 

}


.card_data { 
  background-color: darkblue; 
  Padding: 24px 32px; 
  border-radius: 16px; 
  text-align: center; 
  position: relative; 
  z-index: 10;
}

.card_image { 
width: 180px; 
margin: 0 auto; 
position: relative; 
z-index: 5; 
}

.card_name { 
  font-size: 20px;  
  color:  hsl(195, 75%, 52%); 
  margin-bottom: 12px; 
}

.card_description { 
  font-weight: 500; 
  margin-bottom: 28px;

}

.card_button { 
  display: inline-block; 
  background-color: hsl(38, 92%, 58%); 
  padding: 12px 24px; 
  border-radius: 4px; 
  color: hsl(212, 40%, 12%);
  font-weight: 600;
}
.card_image img { 
  display: block; 
  max-width: 100%;
  height: auto; 
  height: 250px; 
  width: 250px; 
}


.swiper-button-prev::after, 
.swiper-button-next::after { 
  content: ''; 
}

.swiper-button-prev,
.swiper-button-next { 
  width: initial; 
  height: initial; 
  font-size: 48px; 
  color: hsl(195, 75%, 52%);
  /* display: none;  */

}

/* Ensure that the swiper wrapper is a flex container with horizontal alignment */
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center`
}

/* Each swiper slide should have a fixed width */
.swiper-slide {
  width: 300px; /* Adjust this width according to your design */
  margin-right: 80px; /* Space between cards */
}

.swiper-button-prev { 
left: 0; 
}

.swiper-button-next{ 
right: 0; 
}