/*added during 3-d carousel*/
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}



/* Horizontal scrolling Bar on top services page  */

.item {
    display: inline-block; 
    margin-right: 20px;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}
.scrollingItemsContainer {
  width: 100%;
  overflow-x: hidden;
  background-color:slategray;
}

.horizontalScrollingItems {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items {
  white-space: nowrap;
}





/* Services description items */
.servicesdescription {
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: stretch; /*fill vertical space*/
}

.servicesdescriptioncontainers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; /* containers stretch to the full height */
    width: 100%; 
}

.items {
    display: flex; 
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; 
    align-items: stretch; 
}

.itemContainer {
    display: flex;
    flex-direction: column; /* Stacks title, description, and img */
    align-items: center; 
    width: calc(100% / 6 - 20px); /* Give equal width to each container */
    margin: 10px; /* spacing between continers- decide on later */
    box-sizing: border-box; 
    border: 2px solid black; 
    flex-grow: 1; 
}

.itemContainer img {
    width: 100%; 
    object-fit: cover; 
    height: 200px;
}

.itemTitle, .itemDescription {
    margin: 10px 0;
}

.servicestitle, #servicesMaintitle {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  font-weight: 700;
  font-size: xx-large;
}




/* CSS for 3-D Carousel*/

/* CSS Custom Properties- global use*/ 
:root{ 
  --n: 6; /* number of images*/
  --item-width:820px; 
  --item-sepration:300px; /* space between images will decrease the effective item width*/
  --viewer-distance: 1500px; 
  --apothem: 482.842712474619px;
  --theta: calc(360deg / var(--n)); /* 6 images. calculates angle rotation for each image.  */
}

.carouselSection{
  padding: 40px; 
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  height: auto 100vh;
  justify-content: center;
}

/*whole carousel turns */
.threeDCarouselContainer{
  position: relative;
  width: 100%; 
  height: 800px;
  margin-top: 5%; 
  perspective: var(--viewer-distance); 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
   transform-style: preserve-3d; /* container allows for 3D space */
}



/* original */
/* figure {
  margin: 0; 
  width: var(--item-width); 
  transform-style: preserve-3d;
  transition: transform 0.5s; 
  transform-origin: 50% 50% calc(-1 * var(--apothem));centered verticaly and horizontally on the x and y axis 50%. Sits back([negative]some determined px amount) on the the Z-axis
} */



figure img {
  margin: 0; 
  width: var(--item-width); 
  height: 650px; 
  box-sizing: border-box;
  padding: 0 calc(var(--item-sepration) /2);
  Opacity: 0.9; 

}

/*all images except 1st one are stacked within `figure`. stacked on top of each other on top left corner of figure */ 
/* .threeDCarouselContainer figure img:not(:first-of-type) {
  left: 0;
  top: 0;
  transform-origin: 50% 50% calc(-1 * var(--apothem));
}  */


/* rotating each image*/
/* .threeDCarouselContainer figure img:nth-child(2) { transform: rotateY(calc(1 * var(--theta))); }
.threeDCarouselContainer figure img:nth-child(3) { transform: rotateY(calc(2 * var(--theta))); }
.threeDCarouselContainer figure img:nth-child(4) { transform: rotateY(calc(3 * var(--theta))); }
.threeDCarouselContainer figure img:nth-child(5) { transform: rotateY(calc(4 * var(--theta))); }
.threeDCarouselContainer figure img:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); } */

.threeDCarouselContainer .serviceOfferingOneAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }
.threeDCarouselContainer .serviceOfferingTwoAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }
.threeDCarouselContainer .serviceOfferingThreeAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }
.threeDCarouselContainer .serviceOfferingFourAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }
.threeDCarouselContainer .serviceOfferingFiveAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }
.threeDCarouselContainer .serviceOfferingSixAnimation:nth-child(6) { transform: rotateY(calc(5 * var(--theta))); }


/* Scale effect for the active carousel item */
.activeCarouselItem {
  transform: scale(1.1) translateZ(50px); /* Adjust scale and Z translation as needed */
  z-index: 10; /* Ensures it's above other elements */
  transition: transform 0.5s ease-out; 
}



/* Darken background of non-active items to focus on active */
.threeDCarouselContainer figure img:not(.activeCarouselItem) {
  opacity: 0.7; /* Dim inactive items to highlight the active one */
}




/* Carousel Section */
.carouselSection {
  perspective: 1000px;
  overflow: hidden;
}

.serviceOfferingOneAnimation, .serviceOfferingTwoAnimation, .serviceOfferingThreeAnimation,
.serviceOfferingFourAnimation, .serviceOfferingFiveAnimation, .serviceOfferingSixAnimation:not(:first-of-type) {
  left: 0;
  top: 0;
  transform-origin: 50% 50% calc(-1 * var(--apothem));
}


.serviceOfferingOneAnimation, .serviceOfferingTwoAnimation, .serviceOfferingThreeAnimation,
.serviceOfferingFourAnimation, .serviceOfferingFiveAnimation, .serviceOfferingSixAnimation {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  width: 100%; 
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: 0; 
  width: var(--item-width); 
  transform-style: preserve-3d;
  transition: transform 0.5s; 
  transform-origin: 50% 50% calc(-1 * var(--apothem));/* centered verticaly and horizontally on the x and y axis 50%. Sits back([negative]some determined px amount) on the the Z-axis */
}

/* Positioning text and list around the image */
.serviceOfferingTitleOne, .serviceOfferingTitleTwo, .serviceOfferingTitleThree,
.serviceOfferingTitleFour, .serviceOfferingTitleFive, .serviceOfferingTitleSix {
  width: 100%;
  text-align: center;
}

.serviceOfferingStatementOne, .serviceOfferingStatementTwo, .serviceOfferingStatementThree,
.serviceOfferingStatementFour, .serviceOfferingStatementFive, .serviceOfferingStatementSix {
  position: absolute;
  bottom: 200px; 
  right: 20px;
  width: 220px;
}

.serviceOfferingListOne, .serviceOfferingListTwo, .serviceOfferingListThree,
.serviceOfferingListFour, .serviceOfferingListFive, .serviceOfferingListSix {
  position: absolute;
  bottom: 200px;
  left:20px;
  width: 220px;
}


/* Carousel Nav Buttons Next and Prev Button css to rotate carousel*/
.carouselNav { 
  display: flex; 
  justify-content: center;
  margin-top: 4%; 
  margin-bottom: 5%; 
  

}

.carouselPrevButton,
.carouselNextButton {
  flex: 0 0 auto;
  margin: 0 5px;  
  cursor: pointer; 
  


  color: #333; 
  

} 

.carouselNav button {
  margin-left: 10px;

}


/* Scroll Animation */
.box {
  visibility: hidden;
}

.active {
  transform: translateY(0);
  visibility: visible;
}