/*added during 3-d carousel*/
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}



/* Horizontal scrolling Bar on top services page  */

.item {
    display: inline-block; 
    margin-right: 20px;
}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}
.scrollingItemsContainer {
  width: 100%;
  overflow-x: hidden;
  background-color:slategray;
}

.horizontalScrollingItems {
  display: flex;
  font-size: 40px;
  width: 2600px;
  animation-name: infiniteScroll;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.horizontal-scrolling-items {
  white-space: nowrap;
}





/* Services description items */
.servicesdescription {
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: stretch; /*fill vertical space*/
}

.servicesdescriptioncontainers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch; /* containers stretch to the full height */
    width: 100%; 
}

.items {
    display: flex; 
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; 
    align-items: stretch; 
}

.itemContainer {
    display: flex;
    flex-direction: column; /* Stacks title, description, and img */
    align-items: center; 
    width: calc(100% / 6 - 20px); /* Give equal width to each container */
    margin: 10px; /* spacing between continers- decide on later */
    box-sizing: border-box; 
    border: 2px solid black; 
    flex-grow: 1; 
}

.itemContainer img {
    width: 100%; 
    object-fit: cover; 
    height: 200px;
}

.itemTitle, .itemDescription {
    margin: 10px 0;
}

.servicestitle, #servicesMaintitle {
  display: flex;
  flex-direction: row; 
  justify-content: center; 
}




/* CSS for 3-D Carousel*/

/* custom global parameters*/ 
:root{ 
  --item-width: 200px; 
  --apothem: 100px; 
}


.threeDCarouselContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
   > * {
     flex: 0 0 auto;
  }

  .figure {
    width: var(--item-width); 
    transform-style: preserve-3d;
    img {
      width: 100%;
      &:not(:first-of-type) {
        display: none /* Just for now */
      }
    }
  }
}

/*whole carousel turns */
.threeDCarouselContainer figure {
  transform-origin: 50% 50% calc(-1 * var(--apothem)); /* centered verticaly and horizontally on the x and y axis 50%. Sits back([negative]some determined px amount) on the the Z-axis */
  transform: rotateY(/* some amount here */rad);
}

/*all images except 1st one are stacked within `figure`. stacked on top of each other on top left corner of figure */
.threeDCarouselContainer figure img:not(:first-of-type) {
  position: absolute; /* positioned relative to the nearest positioned ancestor.*/
  left: 0;
  top: 0;
}

.img:not(:first-of-type) {
  transform-origin: 50% 50% calc(-1 * var(--apothem));
}