.footer-area {
  background-color: #16191A;
  margin: 0; 
  width: 100%;
  min-width: 100%; 
  min-height: 450px; 
  border: 8px solid green; 
}

.main-footer-area {
  padding-top: 80px;
  border: 2px solid blue; 
  min-height: 450px; 
}

.column { 
  float: left; 
}

.left { 
  width: 25%; 
}

.middle { 
  width: 25%; 
}

.right { 
  width: 50%; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

