.footer-area {
  background-color: #16191A;
  margin: 0; 
  width: 100%;
  min-width: 100%; 
  min-height: 450px; 
  border: 8px solid green; 
}

.main-footer-area {
  border: 2px solid blue; 
  min-height: 450px; 
}

.column { 
  float: left; 
}

.left { 
  width: 25%; 
  border: 2px solid red; 
  min-height: 450px; 
}

.middle { 
  width: 25%; 
  border: 2px solid white; 
  min-height: 450px; 
}

.right { 
  width: 50%; 
  border: 2px solid orange; 
  min-height: 450px; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*Column's title */
.column1-title,
.column2-title,
.column3-title h2 { 
  color: white;
}

/*---------------------- Column 1. Left Column Specific CSS ------------------------*/

.column1-title,
.underline-divider-container, 
.footer-quote-button-container, 
.company-phone-number-container-footer,
.company-email-address-container-footer { 
  margin-left: 4%;
}

.column1-container { 
  display: flex; 
  flex-direction: column;
  padding-top: 40px; 
}


.column1-title {
  margin-bottom: 0;
}



/* Underline Divider */
.underline-divider-container {
  position: relative; 
  display: flex;
}

.underline { 
  position: absolute; 
  display: flex;
}

.line { 
  position: absolute; 
  width: 300px; 
  height: 2px; 
  background: #5A5A5A;
}


/* Quote Button */
.footer-quote-button-container {
  display: flex; 
  position: relative; 
  margin-top: 8%; 
}

.footer-quote-button-container button {
  border-color: #CEBF8A; 
  border-width: 1px;
  background-color: #262626;
  color: whitesmoke; 
  /* color: #888888;   */
  border-radius: 4px; 
  width: 220px;
  height: 75px; 
  font-size: 18pt; 
  font-weight: 300; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

/* Phone Number & Icon */
.company-phone-number-container-footer { 
  margin-top: 8%;  
}

.company-phone-number-footer {
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #888888; 
}




/* Email Address & Icon */
.company-email-address-container-footer {
  margin-top: 8%;  
}

.company-email-address-footer text { 
  color: #888888; 
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif; 
}




/*---------------------- Column 2. Middle Column Specific CSS ------------------------*/


/* Underline Divider */
.column2-underline-divider-container{ 
  position: relative; 
  display: flex; 
  margin-top: 2%;
  margin-left: 4px; 
}

.column2-underline { 
  position: absolute; 
  display: flex;
}

.column2-line { 
  position: absolute; 
  width: 300px; 
  height: 2px; 
  background: #5A5A5A;
}










/*---------------------- Column 3. Right Column Specific CSS ------------------------*/


/* Underline Divider */
.column3-underline-divider-container{ 
  position: relative; 
  display: flex; 
  margin-top: 2%;
  margin-left: 4px; 
}

.column3-underline { 
  position: absolute; 
  display: flex;
}

.column3-line { 
  position: absolute; 
  width: 300px; 
  height: 2px; 
  background: #5A5A5A;
}







/* Responsive Layout. When screen is < 600px, the three columns stack on top of each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}