.footer-area {
 
  
  border-top: 2px solid black;
  /* Margin: 30% 0% 0% 0%;  */
}

.main-footer-area { 
   background-color: #262626;
   padding-top: 80px;
   border: 2px solid blue; 

}

.container { 
  color: white; 
}

.row2container {
  margin-left: 2%; 
  margin-bottom: 2%; /* gives space between rows */
  align-items: start;
}

.footer-nav1 { 
  color: red; 
}

.footer-nav2 {
    margin-left: 0px;  
}

