.complete-navbar {
  width: 100%;
  min-width: 100%; 
  max-width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-one {
  /* background-color: #313030; */
  background-color: black;
  height: 30px;
  cursor: pointer;
  min-width: 100%;
  width: 100%;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 100%;
}

.navbar-one.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.right, .left {
  display: inline;
  margin-left: 10%;
}

.call, .city, #follow-us, .facebook, .tiktok, .instagram {
  display: inline;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 16px; 
  font-weight: 400; 
  text-transform: uppercase;
  color: white; 
}

.call:hover,
.city:hover {
    color: rgb(208, 201, 201); 
}
.call .nav-mobile-icon, 
.city .nav-location-icon {
  margin-right: 8px; 
  margin-top: 4px;
  color: #CEBF8A; 
  width: 18px; 
  height: 18px; 
}

.city {
  padding-left: 5%;
}

.right {
  padding-left: 25%;
}

#follow-us {
  padding-right: 2%;
}


.facebook .nav-facebook-icon, 
.instagram .nav-instagram-icon, 
.tiktok .nav-tiktok-icon { 
  padding-right: 1.5%; 
  width: 18px; 
  height: 18px; 
  color: #CEBF8A; 
  
  &:hover { 
    color: rgb(208, 201, 201); 
  }
}


.navbar-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  /* background-color: #000000; */
  background-color: white;
  height: 100px;
  padding: 0 2%;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  z-index: 1000;
  transition: transform 500ms ease, background 500ms ease, top 0.5s ease-in-out;
  -webkit-transition: transform 500ms ease, background 500ms ease, top 0.5s ease-in-out;
}

.navbar-two .logo {
  margin-left: 2%;
  padding-right: 5%;
  padding-top: 6px;
  
}

.navbar-two .logo a { 
  text-decoration: none;
}

.navbar-two .logo h1 {
  font-family: "Source Sans Pro", arial, sans-serif;
  color: rgb(27, 27, 27);
  font-size: 40px; 
  text-transform: uppercase;
  &:hover { 
    color:#CEBF8A; 
  }
}

.navbar-two .menu_nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-two .nav-item {
  margin: 0 25px;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-size: 16px; 
  font-weight: 400; 
  text-align: center;
  color: rgb(27, 27, 27);
  text-transform: uppercase;
}

.navbar-two .nav-item:hover {
  color: #F2D68D; 
}

.navbar-two .nav-link {
  text-decoration: none;
  color: inherit;
}

/* .search_input {
  margin-left: auto;
}

.show-search {
  display: block;
} */

/* navbar-two element appears after hidden class*/
.hidden ~ .navbar-two {
  top: 0;
}











/* ham menu */
/* .hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger-menu.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.overlay {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.overlay.open {
  display: flex;
}

.overlay-content a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover {
  color: #f1f1f1;
}

.overlay .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
} */