
/* color_11: 38,38,38; */
/* services css  */
#mainPageBodyItems{
    display: flex;
    flex-direction: row;
    border: solid 1px rgb(154, 138, 120) ;
    margin-left: 70px; 
    margin-top: 100px; 
    margin-right: 70px; 

}

#mainPageServicesImage img {
    margin-left: 130px; 
    width: 750px; 
    height: 750px;
    border: solid 1px rgb(154, 138, 120) ;

}

#servicesList {
    flex-basis: auto;
    margin-left: 20%;
    margin-top: 10%; 
    font-size: large; 

}

#servicesList h1{
    color: white;
    font: 16px/1.4em sans-serif;
    font-size: 50px; 

}

#servicesList ul{
    color: white; 
    font: normal normal normal 16px/1.4em raleway,sans-serif;
    margin: center; 



}

#mainPageServicesButton{
    color: white; 
    margin: center; 

}


