.about-banner-area  {
    margin-top:100px; 
    background-color: #D9D9D9;
}

.about-page-content { 
    background-color: #333;
}
.main-body-container { 
   padding-top: 4%;
   padding-bottom: 4%; 
   min-width: 100%; 
   border: 2px solid yellow; 
   display: flex; 
   justify-content: space-between;
   /* align-items: center; */
}

  /* Description Container */
.aboutus-description-container {
    border: 2px solid red; 
    width: 50%; 
    /* padding-right: 20px; */
    display: flex; 
    flex-direction: column;

}

.aboutus-description {
    border: solid 2px green; 
    padding-left: 40px;
    padding-right: 40px; 
}

.aboutus-description-container p { 
    font-size: 18pt;


}

/* 'GET IN TOUCH' Button */
.contact-button-container { 
    margin-top: 5%; 
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black; 
}

.contact_aboutpage_button{ 
    margin-left: 60%; 
}

.contact-button-container button { 
    background-color: #333;;
    color: white;  
    border-radius: 8px; 
    width: 250px;
    height: 65px; 
    font-size: 18pt; 
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.contact-button-container button { 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer; 
}

/* Image */
.aboutus-image-container {
    align-items: center;
    border: 2px solid red; 
    width: 50%;
    /* text-align: right; moves image to the right of the container */
    text-align: center;
}

/* Image */
.aboutus-image-container img { 
    width: 750px; 
    height: 650px;
    border: solid black 2px;
}


.cta-message-container {
    margin-top: 10%; 
    padding-bottom: 10%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}