.contact-banner-area { 
    margin-top: 100px; 
}


.container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7fafc; /* bg-gray-100 */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/* 
    background-color: #1a202c;  */
    /* dark:bg-gray-900 */
}

.formWrapper {
    max-width: 840px;
    width: 100%;
    margin: 3% auto auto auto;
    padding: 20px;
    background-color: #ffffff; /* bg-white */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-sm */
}

.formHeader {
    text-align: center;
    margin-bottom: 20px;
}

.formHeader h1 {
    margin: 10px 0;
    font-size: 24px; /* text-3xl */
    font-weight: 600; /* font-semibold */
    color: #4a5568; /* text-gray-700 */
}

.formHeader p {
    color: #a0aec0; /* text-gray-400 */
}

.formBody .formGroup {
    display: flex;
    gap: 16px; /* space-x-4 */
    margin-bottom: 24px; /* mb-6 */
}

.formControl {
    flex: 1;
}

.formControl label {
    display: block;
    margin-bottom: 10px; /* mb-2 */
    font-size: 14px; /* text-sm */
    color: #718096; /* text-gray-600 */
}

.formControl input,
.formControl textarea {
    width: 100%;
    padding: 8px 12px; /* px-3 py-2 */
    border: 1px solid #e2e8f0; /* border-gray-300 */
    border-radius: 6px; /* rounded-md */
    outline: none;
    font-size: 16px;
    color: #2d3748; /* dark:text-white */
    background-color: #edf2f7; /* dark:bg-gray-700 */
    transition: border-color 0.2s, box-shadow 0.2s;
}

.formControl input:focus,
.formControl textarea:focus {
    border-color: #667eea; /* focus:border-indigo-300 */
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2); /* focus:ring-indigo-100 */
}

.formControl textarea {
    resize: none;
}

.formControl button {
    width: 100%;
    padding: 12px 16px; /* px-3 py-4 */
    color: #ffffff; /* text-white */
    background-color: #667eea; /* bg-indigo-500 */
    border: none;
    border-radius: 6px; /* rounded-md */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 20px; 
    margin-bottom: 40px;
}

.formControl button:hover {
    background-color: #5a67d8; /* focus:bg-indigo-600 */
}

.formResult {
    text-align: center;
    font-size: 14px; /* text-base */
    color: #a0aec0; /* text-gray-400 */
}