.split-screen {
    display: flex;
    height: 100vh;
    position: relative;
  }
  
  .pane {
    flex: 1;
    overflow: hidden; /* Hides the images that are out of view */
    position: relative;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    animation-duration: 9s; /* 3 images * 3s each */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /* Animation for left pane images */
  .left-pane .img-0 { animation-name: rotateLeft0; }
  .left-pane .img-1 { animation-name: rotateLeft1; }
  .left-pane .img-2 { animation-name: rotateLeft2; }
  
  /* Animation for right pane images */
  .right-pane .img-0 { animation-name: rotateRight0; }
  .right-pane .img-1 { animation-name: rotateRight1; }
  .right-pane .img-2 { animation-name: rotateRight2; }
  
  /* Keyframes for left pane */
  @keyframes rotateLeft0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft1 {
    0%, 33% { transform: translateY(100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(-100%); }
  }
  
  @keyframes rotateLeft2 {
    0%, 66% { transform: translateY(100%); }
    67%, 100% { transform: translateY(0); }
  }
  
  /* Keyframes for right pane */
  @keyframes rotateRight0 {
    0%, 33% { transform: translateY(0); }
    66%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight1 {
    0%, 33% { transform: translateY(-100%); }
    34%, 66% { transform: translateY(0); }
    67%, 100% { transform: translateY(100%); }
  }
  
  @keyframes rotateRight2 {
    0%, 66% { transform: translateY(-100%); }
    67%, 100% { transform: translateY(0); }
  }
  



  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center; /* Center the text elements */
  }
  
  .center-text h1, .center-text h2 {
    margin: 0; /* Remove default margins */
  }
  
  .headerContactUsButton {
    position: absolute;
    top: 60%; /* Adjust as needed to position below the text */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  #mainPageContactUsButton {
    padding: 10px 20px;
    background-color: #333; /* Or any color you prefer */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    /* Add hover effect for the button */
    &:hover {
      background-color: #555;
    }
  }