.ServicePageBody {
    margin: 0; 
    box-sizing: border-box; 
}

/* margin-top issue was fixed in file of the imported component, adjusted css by commenting out margin-top: 100px; (.heroBanner)*/
/* PageHeader IMPORT*/
.services-banner-area  {
    margin-top: 0%; 
    background-color: #D9D9D9;
}

/*---------------- Horizontal scrolling Bar. Right Below Navabar on the services page ----------------*/
.scrollingItemsContainer {
  max-width: 100%;
  width: 100%;
  height: 68px;
  overflow-x: hidden;
  /* background-color:slategray; */
  background-color: #CEBF8A; 
  margin-top:100px;

}

.horizontalScrollingItems {
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 100%; 
  animation-name: infiniteScroll;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.horizontal-scrolling-items {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.item-container {
   display: flex; 
   align-items: center;
}

.item { 
  margin-right: 5px; 
  display: flex;
  align-items: center;
  /* border: solid 1px blue; */
}

.item-spacer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px; 
  font-size:60px;
  font-weight: 500;
  line-height: 1;
  height: 1em; 
  margin-top: -0.4em; 
  /* border: solid 1px red; */


}

@keyframes infiniteScroll {
  from {transform: translateX(0)}
  to {transform: translateX(-50%)}
}
/*-------------------- END: CSS FOR Horizontal scrolling Bar ----------------------*/
/*-------------------------------------------*/


/*------------ START--CSS FOR decorative line above "Services" title -------------*/
.sp-decorative-lines-container {
  position: relative; 
  display: flex; 
  justify-content: center;
  margin-top: 4%;
}

.sp-decorativelines {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 0%;
}

/*thinner decorative line*/
.sp-decorativelinebase {
  position: absolute; 
  width: 350px; 
  height: 2px; 
  background: #E82C2C;
  z-index: 0; 
}

/*thicker decorative line*/
.sp-decorativelineoverlayed {
  position: absolute; 
  width: 150px;
  height: 8px; 
  background: red;
  z-index: 1; /* > stack order -> top line*/
}
/*----------- END: CSS FOR decorative line above "Services" title ------------*/
/*-----------------------------------------*/





/*----------- START: CSS for the 'Title' and horizontal lines on the first section of the services page -----------*/
/*-----------------------------------------*/
/* sp = service page */

.sp-first-section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5%;
  }
  
  .sp-first-section-title {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .sp-first-section-title h2 {
    position: relative;
    padding: 0 20px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black; 
  }
  
  .sp-first-section-title h2::before,
  .sp-first-section-title h2::after {
    content: '';
    position: absolute;
    top: 50%;
    max-width: calc(100vw - 62vw); 
    height: 3px;
    background-color: black;
  }
  
  .sp-first-section-title h2::before {
    left: 0;
    transform: translateX(-100%);
  }
  
  .sp-first-section-title h2::after {
    right: 0;
    transform: translateX(100%);
  }
/*----------- END: CSS for the 'Title' and horizontal lines on the first section of the services page -----------*/
/*-----------------------------------------*/






/*------------------------------------- START: CSS FOR 3D CAROUSEL -------------------------------------*/
/*-------------------------------*/
.threeDcarousel-section { 
  position: relative; 
  width: 100%; 
  border: solid 2px blue; 
  background-color: #EBEBEB; 
}

.threeDCarouselWrapper { 
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: var(--viewer-distance); 
  border: solid 2px pink; 
}

.threeDCarouselContainer {
  width: 100%;
  height: 650px;
  transform-style: preserve-3d; 
  transform-origin: center;
  transform: translateZ(calc(-1 * var(--apothem) - 200px));
  transition: transform 1s;  
  border: solid 3px yellow;
/*Custom CSS properties specific to this module (scoped to this module.css)*/
  --n: 6; /* number of images */
  --item-width: 550px; 
  --item-height: 650px; 
  --item-separation: 80px; /* space between images will decrease the effective item width */
  --viewer-distance: 1500px; 
  --apothem: calc(var(--item-width) / (2 * tan(PI / var(--n))));
}

.threeDCarouselContainer figure {
  position: absolute;
  width: var(--item-width);
  height: var(--item-height);
  top: 0;
  left: 37.5%;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  padding: 20px;
  border: 4px solid black; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transform: rotateY(calc(var(--index) * 60deg)) translateX(calc(var(--item-separation) * var(--index))) translateZ(calc(var(--apothem) + 50px));
}


.threeDCarouselContainer figure:not(:first-of-type) {
  transform: rotateY(calc(360deg / var(--n) * var(--index))) translateZ(calc(var(--apothem)));
}

/* .threeDCarouselContainer figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(476px); 
}

.threeDCarouselContainer figure:nth-child(2) {
  transform: rotateY(60deg) translateZ(476px); 
}

.threeDCarouselContainer figure:nth-child(3) {
  transform: rotateY(120deg) translateZ(476px); 
}

.threeDCarouselContainer figure:nth-child(4) {
  transform: rotateY(180deg) translateZ(476px); 
}

.threeDCarouselContainer figure:nth-child(5) {
  transform: rotateY(240deg) translateZ(476px); 
}

.threeDCarouselContainer figure:nth-child(6) {
  transform: rotateY(300deg) translateZ(476px); 
} */

.row {
  position: relative;
  width: 100%;
  height: 280px;
  max-height: 280px;
  border: solid 3px purple; 
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
}

.left-list-column {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px; 
}


.right-description-column {
  float: left;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px; 
}



/* All Figures: Description CSS */
#text {
  position: absolute;
  padding-right: 20px;
  /* border: solid 1px red; */
  text-align: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;    
}

/* Description CSS */
.serviceOfferingStatementOne {
  font-size: 14pt;
}

.serviceOfferingStatementTwo {
  font-size: 13pt; 
}

/* For All Figure's Elements: Title CSS */
#title-text { 
  position: relative;
  padding-top: 10px; 
  width: 100%;
  height: 50px; 
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  background-color: bisque;
  color: black;
  /* border: solid 3px red; */
}

/* Title CSS */
.serviceOfferingTitleOne {

}



/* For All Figure's Elements: Image CSS */
#threeDcarousel-images {
  position: relative; 
  box-sizing: border-box;
  width: 100%; 
  height: 320px;
  max-height: 320px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Image CSS */
.serviceOfferingOneImage {
}

.serviceOfferingTwoImage {

}



/* For All Figure's Elements: List (inside .row) CSS */
#list-text {
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;

}

#list-text ul { 
  list-style-type: none; 
}

.serviceOfferingListOne ul {
  list-style-type: none; 
}


/* List (inside .row) CSS */
.serviceOfferingListOne {

}

.serviceOfferingListOne ul {

}


/* Carousel Nav Buttons Next and Prev Button css to rotate carousel*/
.carouselNav { 
  position: relative; 
  display: flex; 
  justify-content: center;
  margin-top: 4%; 
  margin-bottom: 5%; 
  
}

.carouselNav button {
  flex: 0 0 auto;
  margin: 0 5px;

  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #555;
  }
}
/*------------------------------------- END: CSS FOR 3D CAROUSEL -------------------------------------*/
/*-----------------------------------------*/





/*------------------------------------- START: STATS SECTION -------------------------------------*/
/*-----------------------------------------*/
.stats-section-container { 
  position: relative;
  width: 100%; 
  height: 100vh; 
  margin-top: 4%; 

}

.main-columns {
  position: relative;
  width: 100%;
  height: 100vh;
}

/*LEFT COLUMN CSS*/
.left-column {
  position: relative; 
  float: left;
  width: 50%;
  height: 100vh; 
  display: flex; 
  justify-content: center;
  padding: 10px;
}

/*IMAGE CSS*/
.stats-section-img {
  width: 750px; 
  height: 650px;  
  margin-top: 4%;  
 
}

.stats-section-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px; 
  box-shadow: 0 0 4px 8px rgba(0,0,0,0.1); /* 1st 0 x-offset, 2nd 0 Y-offset, 4px <blur-radius>, 8px spread radius, color */
}



/*RIGHT COLUMN CSS*/
.right-column {
  position: relative; 
  width: 50%;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  padding-top: 8%; 
  padding-right: 20px; 
}

/*TITLE CSS*/
.title {
  margin-bottom: 2%; 
}

/*DESCRIPTION CSS*/
.informational-text { 
  margin-left: 20px; 
  margin-bottom: 4%; 

}

/*STATS CONTAINER CSS*/
.stats-container-grid  {
  display: flex;
  border: solid 4px pink; 

}

.stats-container-grid .number { 
  width: 33.33%;
  text-align: center;

}

.stats-container-grid .number h5 { 
  font-size: 27px;
  color: #ec473a;
}

.stats-container-grid .number p { 
  font-size: 16px;
  color: #888;
  text-transform: capitalize;
}






/*------------------------------------- END: STATS SECTION -------------------------------------*/
/*-----------------------------------------*/



/*------------------------------------- START: CUSTOMER REVIEWS SECTION -------------------------------------*/
/*-----------------------------------------*/

.customer-reviews-section-container { 
  position: relative;
  background-color: #EBEBEB; 
  padding-top: .5%; 
  /* padding-bottom: 40px;  */

}





 /*------------------------------------- END: CUSTOMER REVIEWS SECTION -------------------------------------*/
/*-----------------------------------------*/