
/* Footer Styles */
#footer-content {
    background-color: #262626;
    color: white;
    border: 1px solid rgb(154, 138, 120);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

#footer-bg {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Column 1 Styles */
#column1 {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid rgb(154, 138, 120);
    margin: 15px 0; 
}



#contactInfoFooter {
    margin-top: 10px;
}

#websiteCreatorLicensing {
    margin-top: 20px;
}

/* Column 2 Styles */
#column2 {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid rgb(154, 138, 120);
    margin: 15px 0; 
}


#footerBuisnessHours {
    margin-top: 10px;
    line-height: 1.8; /* Spacing between each date */
}

/* Column 3 Styles */
#column3 {
    flex: 1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.thirdCTA {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between links */
}

#mainPageServicesButton {
    margin-top: 10px;
}

#socialLinks {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spacing between social links */
}

#socialLinks ul {
    list-style-type: none;
    padding: 0;
}

#socialLinks li {
    margin-bottom: 5px;
}

#socialLinks a {
    color: white;
    text-decoration: none;
}

#socialLinks a:hover {
    text-decoration: underline;
}
